# Timezone of the server/user
timezone: "Australia/Sydney"

# Login credentials used for website and API
username: admin
password:

# Site information
baseUrl: "https://example.com"
siteTitle: "example.com"
siteDescription: "My awesome blog"

# Author information
author:
  firstName: "Joe"
  lastName: "Bloggs"
  fullName: "Joe Bloggs"
  nickname: "joe"
  email: "joe@example.com"

# Location, relative to the application root, of the content
contentLocation: "public"
defaultTemplate: "post.twig"
contentFiles:
  - "index.md"
  - "index.txt"
dynamicPages:
  - "/index.md"
  - "/archives/index.md"

rss:
  author: "Joe Bloggs"
  email: "joe@example.com"

  # Output files relative to the public folder
  atomFile: "/feed.atom.xml"
  rssFile: "/feed.rss.xml"